services:
  slurmctld:
    volumes:
      - ~/slurm-data:/data
    image: slurm-docker-cluster-openmpi:${SLURM_VERSION:-25.05.3}
    build:
      context: .
      dockerfile: Dockerfile.openmpi
      args:
        SLURM_VERSION: ${SLURM_VERSION:-25.05.3}

  c1:
    volumes:
      - ~/slurm-data:/data
    image: slurm-docker-cluster-openmpi:${SLURM_VERSION:-25.05.3}
    build:
      context: .
      dockerfile: Dockerfile.openmpi
      args:
        SLURM_VERSION: ${SLURM_VERSION:-25.05.3}

  c2:
    volumes:
      - ~/slurm-data:/data 
    image: slurm-docker-cluster-openmpi:${SLURM_VERSION:-25.05.3}
    build:
      context: .
      dockerfile: Dockerfile.openmpi
      args:
        SLURM_VERSION: ${SLURM_VERSION:-25.05.3}