services:
  slurmctld:
    environment:
      HPC_USER: student
      HPC_UID: 2000
      HPC_GID: 2000
    working_dir: /home/student
    volumes:
      - ~/slurm-data/home:/home
      - ~/slurm-data/data:/data
      - scratch_fs:/scratch
    image: slurm-docker-cluster-openmpi:${SLURM_VERSION:-25.05.3}
    build:
      context: .
      dockerfile: Dockerfile.openmpi
      args:
        SLURM_VERSION: ${SLURM_VERSION:-25.05.3}
        HPC_USER: student
        HPC_UID: 2000
        HPC_GID: 2000

  c1:
    environment:
      HPC_USER: student
      HPC_UID: 2000
      HPC_GID: 2000
    working_dir: /home/student
    volumes:
      - ~/slurm-data/home:/home
      - ~/slurm-data/data:/data
      - scratch_fs:/scratch
    image: slurm-docker-cluster-openmpi:${SLURM_VERSION:-25.05.3}
    build:
      context: .
      dockerfile: Dockerfile.openmpi
      args:
        SLURM_VERSION: ${SLURM_VERSION:-25.05.3}
        HPC_USER: student
        HPC_UID: 2000
        HPC_GID: 2000

  c2:
    environment:
      HPC_USER: student
      HPC_UID: 2000
      HPC_GID: 2000
    working_dir: /home/student
    volumes:
      - ~/slurm-data/home:/home
      - ~/slurm-data/data:/data
      - scratch_fs:/scratch
    image: slurm-docker-cluster-openmpi:${SLURM_VERSION:-25.05.3}
    build:
      context: .
      dockerfile: Dockerfile.openmpi
      args:
        SLURM_VERSION: ${SLURM_VERSION:-25.05.3}
        HPC_USER: student
        HPC_UID: 2000
        HPC_GID: 2000

volumes:
  scratch_fs:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: size=8g,uid=0,gid=0,mode=1777
